.ui-chapter--focus:before{display:block}@media (min-width: 1280px){.generic-detail>div>.ui-block:first-child>[class^=mt-]{margin-top:0rem}}

/*
     FILE ARCHIVED ON 07:15:06 Jun 28, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:20:01 Mar 18, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.12
  exclusion.robots.policy: 0.097
  cdx.remote: 0.201
  esindex: 0.02
  LoadShardBlock: 342.154 (6)
  PetaboxLoader3.datanode: 261.027 (7)
  PetaboxLoader3.resolve: 112.864 (2)
  load_resource: 136.641
*/