.a-icon--text[data-v-3154cec8]:not(.a-icon--no-align){position:relative;top:.1em;width:var(--font-size);height:var(--font-size);vertical-align:baseline}.ui-accordion-btn:focus:not(:focus-visible):before{display:none}.no-scroll{overflow:hidden;position:fixed;touch-action:none}.ui-video .ratio iframe{width:100%;height:100%;position:absolute;top:0;left:0;right:0;bottom:0}.ui-video iframe{width:100%;height:100%;aspect-ratio:var(--aspectRatio)}.ui-video{position:relative;z-index:10}.ui-video:focus{outline-width:0px}.ui-video:before{position:absolute;top:-.5rem;bottom:-.5rem;left:-.5rem;right:-.5rem;z-index:-10;display:none;border-width:4px;border-color:var(--border-primary);--tw-content: "";content:var(--tw-content)}.ui-video:focus:before{display:block}.ui-video:focus:not(:focus-visible):before{display:none}.ui-video p{display:none}

/*
     FILE ARCHIVED ON 07:15:06 Jun 28, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:20:01 Mar 18, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.111
  exclusion.robots.policy: 0.087
  cdx.remote: 0.163
  esindex: 0.02
  LoadShardBlock: 328.286 (6)
  PetaboxLoader3.datanode: 340.452 (8)
  PetaboxLoader3.resolve: 233.514 (3)
  load_resource: 348.788 (2)
*/